.NavContainer {
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    position: relative;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;

}

.list { 
    
    display: inline !important;
    text-align: center;
    padding: 10px 15px;
    font-size: 15px;
    text-decoration: none;
    list-style-type: none;
}

li { display: inline; }


ul
{
   padding: 0px;
   margin: 0px;
}


 .bg-dark2 { 
  background-color:#18cbc4 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(254,230,156,255) !important;
}

.Img-Responsive{
  margin-left: 20px;
}

.btn-itemcount1{
  background-color:#18cbc4 !important;
  color:#fee69c;
  padding: 10;
  margin: 2px;


}

.btn-itemcount2{
  background-color:#9d9ad6
  !important;
  color:#fee69c;
  padding: 10;
  margin: 2px;


}

.btn-itemcount3{
  background-color:#ffcb08
  !important;
  color:#18cbc4;
  padding: 10;
  margin: 2px;
  font-weight: 900;
  border-color:#18cbc4 solid 1 ;

}

.count{
  color:#9d9ad6;
  font-weight: 900;
  margin: 2px;

}

.fondo{
  background-color:#fee69c;
}

.ItemListContainer{
  background-color:#9d9ad6;
  color:#fff;
  font-size: 18px;
}

.itemImg {
  background-color:#fee69c;
  width:300px!important;
  margin: 5px;
  
}

.itemImg2{
  background-color:#18cbc4;
  width: 800px;
  margin: 15px;
}

.titulo{
  color:#fee69c;
  font-weight: 900;
  font-size: 26px;
}

.datos{
  color:#fee69c;
  font-weight: 900;
  font: 18px;
}

.datos2{
  color:#fee69c;
  font-weight: bold;
  font: 25px;
}

.btndetalle{
  background-color:#ffcb08
  !important;
  color:#18cbc4;
  padding: 10;
  margin: 2px;
  font-weight: 900;
  border-color:#18cbc4 solid 1 ;
  border-radius: 1em;

}

.ItemDetailContaner{

  background-color:#ebd5ff
  !important;
}

.App-portada{
  width:100% !important;
}