.NavContainer {
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    position: relative;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;

}

.list { 
    display:block;
    color:#ccc;
    text-align: center;
    padding: 10px 15px;
    font-size: 15px;
  text-decoration: none;
}

.list:hover { 
    color:rgb(39, 187, 192);
 }

 .bg-dark2 { 
  background-color:#18cbc4 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(254,230,156,255) !important;
}

.Img-Responsive{
  margin-left: 20px;
}

.btn-itemcount1{
  background-color:#18cbc4 !important;
  color:#fee69c;
  padding: 10;
  margin: 2px;


}

.btn-itemcount2{
  background-color:#9d9ad6
  !important;
  color:#fee69c;
  padding: 10;
  margin: 2px;


}

.btn-itemcount3{
  background-color:#ffcb08
  !important;
  color:#18cbc4;
  padding: 10;
  margin: 2px;
  font-weight: 900;
  border-color:#18cbc4 solid 1 ;

}

.count{
  color:#9d9ad6;
  font-weight: 900;
  margin: 2px;

}

.fondo{
  backgroundColor:#fee69c;
}

.ItemListContainer{
  backgroundColor:#9d9ad6;
  color:#fff;
  font-size: 18px;
}